<div id="ground_school_survey_header">
	{% if mode %}
	<h2>Real test. Be attentive!</h2>
	{% else %}
	<h2>Practice mode</h2>
	{% endif %}
	<table border="0" cellpadding="0" cellspacing="0">
	<tr><th>Group</th><th>Test</th></tr>
	<tr><td>{{ group.GroupName }} ({{ group.GroupAbbr }})</td><td>{{ test.TestName }} ({{ test.TestAbbr }})</td></tr>
	</table>
</div>
<div id="ground_school_survey_questions">
	<h2>Questions list</h2>
	<table border="0" cellpadding="0" cellspacing="0">
	<tr><th class="no">No</th><th class="question">Question</th><th class="state">State</th></tr>
	{% for question_item, question_state in questions_states %}
	<tr>
	<td class="no"><a href="#" onclick="javascript:ground_school.on_survey_choose_question({{ question_item.QuestionID|json }});">{{ loop.index }}</a></td>
	<td class="question">{{ question_item.QuestionText }}</td>
	<td class="state">
		{% if question_state != None %}
			{% if report_single %}
				{% if question_state['correct'] %}
				<img {{ {'src': {'netloc': '', 'path': '/small_correct.png'}|url}|xmlattr }} alt="+" />
				{% else %}
				<img {{ {'src': {'netloc': '', 'path': '/small_incorrect.png'}|url}|xmlattr }} alt="-" />
				{% endif %}
			{% else %}
			<img {{ {'src': {'netloc': '', 'path': '/small_answered.png'}|url}|xmlattr }} alt="A" />
			{% endif %}
		{% else %}
		<img {{ {'src': {'netloc': '', 'path': '/small_initial.png'}|url}|xmlattr }} alt="NA" />
		{% endif %}
	</td>
	</tr>
	{% endfor %}
	</table>
</div>
<div id="ground_school_survey_control">
	<input type="button" value="Finish" onclick="javascript:ground_school.on_survey_finish();" />
</div>
