{% extends "skeleton" %}

{% block body_content %}
<h1>Поздравляем! Вы попали на секретный уровень сайта!</h1>
<h2>Описание алгоритма достижения уровня</h2>
<pre>{% if description is defined %}{{ description|e|replace('\n', '<br />') }}{% else %}Нет данных{% endif %}</pre>
<p>Пожалуйста, отправьте нам это описание. Мы его получили в своих логах, но хотим еще раз убедиться, что Вам это удалось. Это поможет при создании новых уровней в будущем. Спасибо.</p>
{%- endblock %}

