{% extends "skeleton" %}

{% block body_content %}
<h1>FAA Online Test</h1>
<div>
<div id="ground_school_notification"><div></div></div>
<div id="ground_school_container"></div>
</div>
<script type="text/javascript">
ground_school.init();
</script>
<div>
{%- endblock %}

